* {
    background-color: #231f20; 
    padding: 0;
    margin: 0;
    font-family:  'IBM Plex Sans', sans-serif
}
.mainWidth {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 275px;
}
.logoContainer{
    display: flex;
    height: 100%;
    justify-content: flex-end
}
.logo{
    display: flex;
    position: relative;
    width: 600px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
img{
    width: 490px;
    transform: translate(34px, -16px)
}
.logo > h2{
    color: white;
    transform: translate(0px, -43px);
    letter-spacing: .7px;
    word-spacing: 2px;
    text-align: right
}
.logo > a{
    color: white;
    font-size: 23px;
    transform: translate(0px, -35px);
    opacity: .6;
    text-decoration: none;
}
.logo > a:hover{
    opacity: 1
}
section{
    width: 100vw;
    height: 382px;
}
.city{
    width: 100%;
    height: 100%;
    background-image: url('./img/warsaw.jpg');
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: 10% 43.2%;
}
footer{
    width: 100vw;
    height: 90px;
}
article {
    height: 100%;
    color: white;
    opacity: .8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
}
article > p {
    font-size: 15px;
    transform: translate(0,12px)
}
@media only screen and (max-width: 800px) { 
    .mainWidth{
        width: 86vw;
    }
    header{
        height: calc(70px + 25vw);
    }
    section{
       height: calc(230px + 15vw);
    }
    footer{
        height: calc(220px + 1.5vw);
    }
    img{
        width: calc(200px + 1.5vw);
        transform: translate(20px,-10px)
    }
    .logo > h2{
        font-size: calc(9.1px + 1.5vw);
        transform: translate(0, -16px);
        letter-spacing: 0;
        word-spacing: 0;
    }
    .logo > a{
        transform: translate(0, -15px);
        font-size: calc(9px + 1.5vw);
    }
    
    article > p {
        font-size: calc(6px + 1.2vw);
        color: white;
        font-weight: bold;
        transform: translate(0, -35px) scale(1,1);        
    }
    .city{
        background-position: 48% 40%;
        background-size: 1100px ;
    }
   
}
